.sidebar {
  height: 100vh;
  flex: 0.2;
  color: #fff;
  min-width: 230px;
  background-color: #000;
  padding: 0 10px;
}

.sidebar__logo {
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.sidebar__title {
  text-transform: uppercase;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
